<!DOCTYPE html>
<html>
{{>partials/head}}
<body data-spy="scroll" data-target="#affix" class="{{#_body_class}}{{_body_class}}{{/_body_class}}">
    <header class="usa-header usa-header-basic" role="banner">
      {{!^_disableNavbar}}
      {{!>partials/navbar}}
      {{!/_disableNavbar}}
      {{!^_disableBreadcrumb}}
      {{!>partials/breadcrumb}}
      {{!/_disableBreadcrumb}}
    </header>
    {{#_enableSearch}}
    <div class="container body-content">
      {{!>partials/searchResults}}
    </div>
    {{/_enableSearch}}

    <main id="main-content">
      {{#_is_landing_page}}
      <div class="usa-hero">
          <div class="usa-grid">
          <div class="usa-hero-callout usa-section-dark">
            <h2><span class="usa-hero-callout-alt">{{hero_title}}</span></h2>
            <p>{{{hero_body}}}</p>
          </div>
        </div>
      </div>
      {{/_is_landing_page}}

    {{^_disableToc}}
      {{!>partials/toc}}
      <div class="usa-grid grid-right">
    {{/_disableToc}}
    {{#_disableToc}}
      <div class="usa-grid">
      {{/_disableToc}}
        {{#_disableAffix}}
        <div class="col-md-12">
        {{/_disableAffix}}
        {{^_disableAffix}}
        <div class="col-md-10">
        {{/_disableAffix}}
          <article class="content wrap" id="_content" data-uid="{{uid}}">
              {{{body}}}
          </article>
        </div>
        {{^_disableAffix}}
        {{!>partials/affix}}
        {{/_disableAffix}}
      </div>
    </main>
    {{^_disableFooter}}
    {{>partials/footer}}
    {{/_disableFooter}}
  {{!>partials/scripts}}
</body>
</html>
