<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{#if title}}{{title}} | {{/if}}{{#if _appTitle}}{{_appTitle}}{{/if}}</title>
  <meta name="viewport" content="width=device-width">
  {{#_description}}<meta name="description" content="{{{.}}}">{{/_description}}
  {{#_redirect}}<meta http-equiv="refresh" content="10; URL={{.}}">{{/_redirect}}
  <link rel="shortcut icon" href="{{_rel}}{{{_appFaviconPath}}}{{^_appFaviconPath}}favicon.ico{{/_appFaviconPath}}">
  <!-- build:css /styles/vendor.min.css -->
  <link rel="stylesheet" href="/styles/uswds.min.css">
  <link rel="stylesheet" href="/node_modules/highlight.js/styles/darcula.css">
  <!-- endbuild -->
  <!-- build:css /styles/main.min.css -->
  <link rel="stylesheet" href="/styles/main.css">
  <link rel="stylesheet" href="/styles/star-button.css">
  <link rel="stylesheet" href="/styles/codeblock.css">
  <!-- endbuild -->
  <!-- build:js /scripts/main.min.js -->
  <script async src='/scripts/main.js'></script>
  <!-- endbuild -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>
</head>
