<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{#if title}}{{title}} | {{/if}}{{#if _appTitle}}{{_appTitle}}{{/if}}</title>
  <meta name="viewport" content="width=device-width">
  {{#_description}}<meta name="description" content="{{_description}}">{{/_description}}
  <link rel="shortcut icon" href="{{_rel}}{{{_appFaviconPath}}}{{^_appFaviconPath}}favicon.ico{{/_appFaviconPath}}">
  <link rel="stylesheet" href="{{_rel}}styles/uswds.min.css">
  <link rel="stylesheet" href="{{_rel}}styles/main.css">
</head>
