<div class="usa-logo" id="basic-logo">
  <span class="usa-logo-text">
    <a href="{{_rel}}" title="{{_appTitle}}">
      <img id="logo" class="logo" src="{{_rel}}{{_appLogoPath}}" alt="{{_appTitleShort}} logo" width="32" height="32">
      {{_appTitleShort}}
    </a>
  </span>
</div>
